body {
    background: #f2f2f2;
}
.row {
    width: 100%;
    margin: 0;
    margin-left: 10px;
}
.flex {
    display: flex;
}
.float {
    float: left
}
.years {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 286px;
    max-height: 300px;
}

.year {
    border: 1px solid #c5e09b;
    background: #c5e09b;
    width: 66px;
    text-align: center;
    margin-bottom: 8px;
    border-radius: 5px;
    margin-left: 20px;
    height: 28px;
    cursor: pointer;
}

.mainContainer {
    display: flex;
    flex-wrap: wrap;
}

.spaceName {
    font-size: 20px;
    color: navy;
    font-weight: bold;
}

.subCategories {
    font-size: 15px;
    color: black;
    font-weight: bold;
}

.background-white {
    background: white
}

.main-data {
    display: flex;
    flex-direction: column;
    height: 400px;
    padding-left: 5px;
    margin: 0 10px 10px 0;
    border-radius: 10px;
}

.border-radius {
    border-radius: 10px;
    background-color: white;
    margin-bottom: 20px;
    max-height: 500px;
    padding: 10px;
    width: 300px;
}
.image {
    display: block;
    background: beige;
    object-fit: contain;
    width: 230px;
    height: 198px;
    margin: 14px;
}

.dark-green {
    background: #79ac28;
    border: 1px solid #c5e09b;
}

.filter-heading {
    text-align: center;
    border-bottom: 1px solid #bebebe;
    margin: 0 32px;
    margin-bottom: 10px;
}

.filters {
    font-size: 20px;
    font-weight: 600;
}
